body{
    margin: 0px 0px;
}
.header{
    background-color: rgb(237, 237, 238);
    height: 70px;
    position: fixed;
    width: 500vw;
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding-left: 40px;
    color: rgb(102, 102, 102);
}
.three-bars{
    width: 28px;
    display: inline-block;
    color: rgb(102, 102, 102)!important;
}
h1, .title{
   /* margin-block-start: 0em;
    margin-block-end: 0em;
    margin-left: 200px;*/
    margin-top: 15px;
    color: rgb(102, 102, 102);
}
.icons{
   max-width: 40px;
   max-height: 40px;
   display: block;
   margin: auto;
   margin-top: 18px;
}
.side-bar{
    box-shadow: 0.1rem 0.1rem 0 rgba(0,0,0,0.25);
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
    background-color: rgba(242, 242, 242, 0.98);
    border-radius: 50%;
    position: absolute;
    margin-top: 140px;
    margin-left: 20px;
    
}
canvas{
    margin-left: 120px;
    margin-top: 110px;
    box-shadow: 2px 2px 2px 2px gray;
}

